@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Martel&family=Merriweather+Sans&display=swap');
/*================ VARIABLES CSS =============== */
:root{
    /*======== COLORS========*/
    --bg-color: #070E10;
    --bg-color2:#5B4C3E;
    --bg-color3: #3f2b18;
    --h1-color: #D9B888;
    --h3-color: #EECD9C;
    --section-color: #F5E3C5;
    
    /*======== FONT AND TYPOGRAPHY ==========*/
    --h1-font-family:'Holtwood One SC', serif;
    --h1-font-szie: 2rem;
    --h3-font-family: 'Martel', serif;
    --h3-font-size: 1.25rem;
    --noraml-font-family: 'Merriweather Sans', sans-serif;
    --normal-font-size: .931rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /*================== Z INDEX ==================*/
    --z-tooltip:10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*================== END VARIABLES CSS =====================*/

/*=========GLOBAL STYLE===================*/
html{
    font-size: 16px;
    font-family: var(--noraml-font-family);
    scroll-behavior: smooth;
}
body{
    background: rgb(6,5,8);
    background: linear-gradient(10deg, rgb(31, 27, 24) 0%, rgb(122, 100, 82) 100%);
    color: var(--h3-color);
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--h3-color);
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
}
p{
    margin: 0;
}
/*=============END GLOBAL STYLE===============*/

/*=========== HEADER SECTION ===============*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    z-index: var(--z-tooltip);
}
#logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#logo img{
    width: 10rem;
    
}
#logo p{
    font-size: var(--h3-font-family);
    color: var(--h3-color);
    text-transform: uppercase;
    font-size: 1.25rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 5.5rem;
    font-size: var(--small-font-size);
}
nav>ul>li:last-of-type> a{
   background-color: var(--bg-color);
   padding: 1rem;
   border-radius: 1rem;
   transition: all 500ms ease-out;
}

nav>ul>li:last-of-type> a:hover{
    background-color: transparent;
    background-color: var(--h3-color);
    color: var(--bg-color); 
}
/*================ END HEADER section ==================*/
/*================ MAIN SECTION======================*/
main{
    top: -1rem;
    width:99vw;
    height: 100vh;
    background-image: url('../Images/hero_films.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%
}
#hero{
    width: 30rem;
    display: grid;
    align-items: center;   
    justify-content: center;
    gap: 2rem;
    margin-left: 10rem;
}

#hero h2{
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-szie);
    color: var(--h1-color);
}
#hero h2 span{
    color: var(--bg-color2);
}
#hero p{
    width: 25rem;
}
#hero a{
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    text-align: center;
    background-color: #5B4C3E;
    padding: 2rem;
    border-radius: 2rem;
    transition: all 500ms linear;
}
#hero a:hover{
    background-color: var(--bg-color);
}
/*=================== END HERO SECTION=======================*/
/*===================END MAIN SECTION========================*/

/*=================== FILMS SECTION========================*/
#films{
    margin-block: 5rem;
    max-width: 100%;
    margin:2rem auto;
}
#films .films-section>p{
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
}
#films .posters1{
    height: 500px;
    background-image: url('../Images/movie_posters.png');
    background-repeat: repeat-x;
    animation: slide 120s linear infinite; 
    margin-bottom: 5rem;
}

#films .posters2{
    height: 500px;
    background-image: url('../Images/movie_posters2.png');
    background-repeat: repeat-x;
    margin-top: 5rem;
    animation: slide 120s linear infinite reverse; 
    
}
#films .posters1:hover,#films .posters2:hover{
    animation-play-state: paused;
}


@keyframes slide{
    from{
        background-position-x: 0%;
    }
    to{
        background-position-x: 100000px;
    }
}

#films .films-section{
    margin: 5rem auto;
    max-width: 80%;
}
#films .films-section .films-content{
    margin-block: 5rem;
    display: grid;
    grid-template-rows: repeat(10,1fr);
    row-gap: 2rem;
}
#films .films-section .films-content .film-card{
    display:grid;
    grid-template-columns: 0.75fr 1.25fr;
    column-gap: 2rem;
}
#films .films-section .films-content .film-card .films-images{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    cursor: pointer;
}
#films .films-section .films-content .film-card .films-details{
    background-color: var(--section-color);
    color: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#films .films-section .films-content .film-card .films-details h3{
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    text-transform: uppercase;
}
#films .films-section .films-content .film-card .films-details h5{
    color: var(--bg-color3);
}

/*============================ BACKGROUND IMAGES FILMS =========================*/
/*============================ Lune ===============================*/
#films .films-section .films-content .film-card.lune .films-images{
    background-image: url(../images/films/le-voyage-dans-la-lune.png);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.lune .films-images:hover{
    background-image: url(../images/films/le-voyage-dans-la-lune2)
}
/*============================ Metropolis ===============================*/
#films .films-section .films-content .film-card.metropolis .films-images{
    background-image: url(../images/films/Metropolis.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.metropolis .films-images:hover{
    background-image: url(../images/films/Metropolis-hover.webp)
}
/*============================ La fin du monde ===============================*/
#films .films-section .films-content .film-card.fin .films-images{
    background-image: url(../images/films/fin.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.fin .films-images:hover{
    background-image: url(../images/films/fin-hover.jpg)
}

/*============================ dracula ===============================*/
#films .films-section .films-content .film-card.dracula .films-images{
    background-image: url(../images/films/DRACULA.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.dracula .films-images:hover{
    background-image: url(../images/films/DRACULA-hover.jpg)
}
/*============================ frankenstein ===============================*/
#films .films-section .films-content .film-card.frankenstein .films-images{
    background-image: url(../images/films/frankenstein.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.frankenstein .films-images:hover{
    background-image: url(../images/films/frankenstein-hover.jpg)
}
/*============================ la momie ===============================*/
#films .films-section .films-content .film-card.momie .films-images{
    background-image: url(../images/films/momie.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.momie .films-images:hover{
    background-image: url(../images/films/momie-hover.jpg)
}
/*============================ KING-KONG ===============================*/
#films .films-section .films-content .film-card.king-kong .films-images{
    background-image: url(../images/films/king-kong.webp);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.king-kong .films-images:hover{
    background-image: url(../images/films/king-kong-hover.jpg)
}
/*============================ OZ ===============================*/
#films .films-section .films-content .film-card.oz .films-images{
    background-image: url(../images/films/oz.png);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.oz .films-images:hover{
    background-image: url(../images/films/oz-hover.jpg)
}
/*============================ la belle et la bête ===============================*/
#films .films-section .films-content .film-card.belle .films-images{
    background-image: url(../images/films/La-belle-et-la-bête.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.belle .films-images:hover{
    background-image: url(../images/films/belle-et-bete-hover.jpg)
}
/*============================ La guerre des mondes ===============================*/
#films .films-section .films-content .film-card.guerre .films-images{
    background-image: url(../images/films/WOTW.jpg);
    transition: background-image 400ms linear;
}
#films .films-section .films-content .film-card.guerre .films-images:hover{
    background-image: url(../images/films/WOTW-hover.jpg)
}



/*=================== FOOTER SECTION====================*/

footer{
    background-color: var(--bg-color);
    font-size: var(--smaller-font-size);
    margin-top: 4rem;
    width: 100%;
    height: 3rem;
    display: grid;
    place-items: center;
}

/*=================== AUDIO SECTION====================*/
.audio-player {
    position: fixed;
    top: 50%;
    right: 3rem;
    transform: translate(50%,-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 50%;
}
  
#music-icon {
    width: 100%;
    height: 100%;
}
#myAudio {
    transform: translate(-100%,-140%);
    transform-origin: left right;
    position: absolute;
    top: 150%;
}
#myAudio::-webkit-media-controls-panel{
    background-color: var(--section-color);
}
.navigation{
    position: fixed;
    top: 90%;
    right: 3rem;
    transform: translate(50%,-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 50%;
}
