@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Martel&family=Merriweather+Sans&display=swap');
/*================ VARIABLES CSS =============== */
:root{
    /*======== COLORS========*/
    --bg-color: #070E10;
    --bg-color2:#5B4C3E;
    --h1-color: #D9B888;
    --h3-color: #EECD9C;
    --section-color: #F5E3C5;
    
    /*======== FONT AND TYPOGRAPHY ==========*/
    --h1-font-family:'Holtwood One SC', serif;
    --h1-font-szie: 2rem;
    --h3-font-family: 'Martel', serif;
    --h3-font-size: 1.25rem;
    --noraml-font-family: 'Merriweather Sans', sans-serif;
    --normal-font-size: .931rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
    /*================== Z INDEX ==================*/
    --z-tooltip:10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*================== END VARIABLES CSS =====================*/

/*=========GLOBAL STYLE===================*/
html{
    font-size: 16px;
    font-family: var(--noraml-font-family);
    scroll-behavior: smooth;
}
body{
    background: rgb(6,5,8);
    background: linear-gradient(10deg, rgb(31, 27, 24) 0%, rgb(122, 100, 82) 100%);
    color: var(--h3-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: var(--h3-color);
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
}
p{
    margin: 0;
}
/*=============END GLOBAL STYLE===============*/

/*=========== HEADER SECTION ===============*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    z-index: var(--z-tooltip);
}
#logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#logo img{
    width: 10rem;
    
}
#logo p{
    font-size: var(--h3-font-family);
    text-transform: uppercase;
    font-size: 1.25rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 5.5rem;
    font-size: var(--small-font-size);
}
nav>ul>li:last-of-type> a{
   background-color: var(--bg-color);
   padding: 1rem;
   border-radius: 1rem;
   transition: all 500ms ease-out;
}

nav>ul>li:last-of-type> a:hover{
    background-color: transparent;
    background-color: var(--h3-color);
    color: var(--bg-color); 
}
/*================ END HEADER section ==================*/

/*===================HISTORY SECTION ========================*/
#refferences{

    max-width: 80%;
    margin: 10rem auto;
    background-color: var(--section-color);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--bg-color);
}
#refferences>p{
    font-size: var(--h3-font-size);
    font-family: var(--h3-font-family)
}
#refferences :is(p,a){
    color: var(--bg-color);
} 
/*===================END HISTORY SECTION======================*/


/*=================== FOOTER SECTION====================*/

footer{
    background-color: var(--bg-color);
    font-size: var(--smaller-font-size);
    margin-top: 4rem;
    width: 100%;
    height: 3rem;
    display: grid;
    place-items: center;
}
